flows.json
[{"id":"d6e3d216.5819","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"7e5badde.4b353c","type":"http request","z":"d6e3d216.5819","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"'https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/2a4e255b-d3ce-4394-8b07-59f7779bb975/deployments/bc9fc876-9511-42de-a629-c0b052b474cd/online'","tls":"","proxy":"","x":773,"y":303,"wires":[["6d15bed8.b0a44"]]},{"id":"c9c99b86.1f3f8","type":"function","z":"d6e3d216.5819","name":"prediction","func":"var token=msg.payload.token;\nvar RDSpend=global.get(\"RDSpend\");\nvar Administration=global.get(\"Administration\");\nvar MarketingSpend=global.get(\"MarketingSpend\");\nvar State1=global.get(\"State1\");\nvar State2=global.get(\"State2\");\nmsg.payload={\"fields\":[\"RDSpend\",\"Administration\",\"MarketingSpend\",\"State\",\"State\"],\"values\":[[RDSpend,Administration,MarketingSpend,State1,State2]]};\n//msg.payload=State;\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":343,"y":223,"wires":[["7e5badde.4b353c","39aecd41.b208fa"]]},{"id":"39aecd41.b208fa","type":"debug","z":"d6e3d216.5819","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":733,"y":183,"wires":[]},{"id":"2171d7f9.57d31","type":"http request","z":"d6e3d216.5819","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","x":513,"y":83,"wires":[["f08f1a16.3561d","c9c99b86.1f3f8"]]},{"id":"c52ea33d.496548","type":"inject","z":"d6e3d216.5819","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":83,"y":103,"wires":[["9526f643.6dc758"]]},{"id":"9526f643.6dc758","type":"function","z":"d6e3d216.5819","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"26953e07-ecaf-411b-b51a-87f3381ac3aa\"\nvar password=\"533e70cb-3715-4d32-a284-8063488ab1c5\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"RDSpend\",msg.payload.RDSpend)\nglobal.set(\"Administration\",msg.payload.Administration)\nglobal.set(\"MarketingSpend\",msg.payload.MarketingSpend)\nglobal.set(\"State1\",msg.payload.State[0])\nglobal.set(\"State2\",msg.payload.State[1])\n\nreturn msg;","outputs":1,"noerr":0,"x":293,"y":63,"wires":[["2171d7f9.57d31"]]},{"id":"6d15bed8.b0a44","type":"function","z":"d6e3d216.5819","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":1033,"y":323,"wires":[["11b6b227.596d9e"]]},{"id":"f08f1a16.3561d","type":"debug","z":"d6e3d216.5819","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":713,"y":63,"wires":[]},{"id":"edb963a0.0c45","type":"ui_text","z":"d6e3d216.5819","group":"617971d6.0bfca","order":2,"width":0,"height":0,"name":"","label":"R&D","format":"{{msg.payload.RDSpend}}","layout":"row-spread","x":393,"y":403,"wires":[]},{"id":"11b6b227.596d9e","type":"ui_text","z":"d6e3d216.5819","group":"617971d6.0bfca","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":983,"y":203,"wires":[]},{"id":"70618052.20962","type":"ui_form","z":"d6e3d216.5819","name":"","label":"","group":"617971d6.0bfca","order":0,"width":0,"height":0,"options":[{"label":"Enter R&D Spend","value":"RDSpend","type":"number","required":true},{"label":"Investment for Administration","value":"Administration","type":"number","required":true},{"label":"Marketing Spend","value":"MarketingSpend","type":"number","required":true},{"label":"Enter State","value":"input","type":"text","required":true}],"formValue":{"RDSpend":"","Administration":"","MarketingSpend":"","input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":113,"y":443,"wires":[["edb963a0.0c45","704ba5db.0a363c","a792d3b9.b35248","43806276.194aa4","9526f643.6dc758"]]},{"id":"704ba5db.0a363c","type":"ui_text","z":"d6e3d216.5819","group":"617971d6.0bfca","order":2,"width":0,"height":0,"name":"","label":"Admin","format":"{{msg.payload.Administration}}","layout":"row-spread","x":433,"y":443,"wires":[]},{"id":"a792d3b9.b35248","type":"ui_text","z":"d6e3d216.5819","group":"617971d6.0bfca","order":2,"width":0,"height":0,"name":"","label":"Marketing","format":"{{msg.payload.MarketingSpend}}","layout":"row-spread","x":363,"y":543,"wires":[]},{"id":"1abe9490.f752ab","type":"ui_text","z":"d6e3d216.5819","group":"617971d6.0bfca","order":2,"width":0,"height":0,"name":"","label":"State","format":"{{msg.payload.State}}","layout":"row-spread","x":353,"y":603,"wires":[]},{"id":"43806276.194aa4","type":"function","z":"d6e3d216.5819","name":"State conversion","func":"var input=msg.payload.input\nvar State\n\nif (input==\"New York\")\n{\n    State=[0,1]\n}\nelse if(input==\"California\")\n{\n  State=[0,0]  \n}\nelse if (input==\"Florida\")\n{\n  State=[1,0]  \n}\n\nmsg.payload.State=State\nreturn msg;","outputs":1,"noerr":0,"x":213,"y":343,"wires":[["9526f643.6dc758","1abe9490.f752ab"]]},{"id":"617971d6.0bfca","type":"ui_group","z":"d6e3d216.5819","name":"Prediction","tab":"33200700.10160a","order":2,"disp":true,"width":"6","collapse":false},{"id":"33200700.10160a","type":"ui_tab","z":"d6e3d216.5819","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]